<button role="button" tabindex="0" class="btn @CssCls">@ChildContent</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Secondary;

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    public string VariantCls => Variant switch
    {
        ButtonVariant.Primary => "btn-primary",
        ButtonVariant.Outline => "",
        _ => "btn-secondary"
    };

    public string SizeCls => Size switch
    {
        ButtonSize.Small => "",
        ButtonSize.Large => "",
        _ => "btn-md" // Medium
    };

    public string CssCls => string.Join(" ", new[] { SizeCls, VariantCls });

    public enum ButtonVariant
    {
        Primary,
        Secondary,
        Outline
    }

    public enum ButtonSize
    {
        Small,
        Medium,
        Large,
    }
}
