<button role="button" tabindex="0" class="btn @CssCls">@ChildContent</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Secondary;

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    public string AccessibilityCls = "focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-emerald-500 cursor-pointer";

    public string VariantCls => Variant switch
    {
        ButtonVariant.Primary => "btn-primary",
        ButtonVariant.Outline => "",
        _ => "bg-white text-gray-900 hover:bg-neutral-100 active:bg-neutral-200 border border-neutral-400 rounded-md" // Secondary
    };

    public string SizeCls => Size switch
    {
        ButtonSize.Small => "",
        ButtonSize.Large => "",
        _ => "text-sm px-4 py-2" // Medium
    };

    public string CssCls => string.Join(" ", new[] { SizeCls, VariantCls, AccessibilityCls });

    public enum ButtonVariant
    {
        Primary,
        Secondary,
        Outline
    }

    public enum ButtonSize
    {
        Small,
        Medium,
        Large,
    }
}
