.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 150ms ease-in-out;
    border-radius: var(--border-radius-md);
    font-weight: 600;
}

.btn:focus {
    outline: unset;
}

.btn:focus-visible {
    
}

.btn-md {
    font-size: 14px;
    line-height: 20px;
    min-width: 96px;
    padding: 5px 12px;
}

.btn-primary {
    background-color: var(--brand-background);
    color: var(--brand-foreground);
}

.btn-primary:hover {
    background-color: var(--brand-background-hover);
}

.btn-primary:active {
    background-color: var(--brand-background-pressed);
}