<button role="button" tabindex="0" class="btn @CssCls">@ChildContent</button>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonVariant Variant { get; set; } = ButtonVariant.Secondary;

    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    public string AccessibilityCls = "focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500";

    public string VariantCls => Variant switch
    {
        ButtonVariant.Primary => "btn-primary",
        ButtonVariant.Outline => "btn-outline",
        ButtonVariant.Ghost => "btn-ghost",
        ButtonVariant.Icon => "btn-icon",
        _ => "btn-secondary" // Secondary
    };

    public string SizeCls => Size switch
    {
        ButtonSize.Small => "text-xs py-1 px-2 min-w-[70px]",
        ButtonSize.Large => "text-lg py-2 px-6 min-w-[120px]",
        ButtonSize.Icon => "text-sm p-2 rounded-full",
        _ => "text-sm px-4 py-2 min-w-[96px]" // Medium
    };

    public string CssCls => string.Join(" ", new[] { SizeCls, VariantCls, AccessibilityCls });

    public enum ButtonVariant
    {
        Primary,
        Secondary,
        Outline,
        Ghost,
        Icon
    }

    public enum ButtonSize
    {
        Small,
        Medium,
        Large,
        Icon
    }
}
