@page "/docs/buttons"
@using Website.Components.Base.Button

<main>
    <h1 class="text-4xl">Buttons</h1>

    <section class="pt-20 w-full  mx-auto">
        <div class="mx-4 p-5 bg-neutral-100 rounded-lg border border-neutral-300 shadow-md">
            <Button></Button>
        </div>
    </section>
</main>

@code {

}
