@page "/docs/buttons"
@using Website.Components.Base.Button

<main class="max-w-96">
    <h1 class="text-7xl font-inter font-light">Buttons</h1>

    <section class="pt-20 w-full  mx-auto">
        <div class="mx-4 p-5 rounded-lg border border-neutral-300 shadow-md">
            <Button Size="Button.ButtonSize.Medium" Variant="Button.ButtonVariant.Secondary">Secondary</Button>
            <Button Size="Button.ButtonSize.Medium" Variant="Button.ButtonVariant.Primary">Secondary</Button>
            <Button Size="Button.ButtonSize.Medium" Variant="Button.ButtonVariant.Outline">Secondary</Button>

        </div>
    </section>
</main>

@code {

}
